@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  position: relative;
}
.overlay-wrapper {
  height: auto;
  position: relative;
  width: 20rem;
  min-height: 100vh;
  display: flex; /* keeps menu + details aligned */
}
a {
  text-decoration: none;
}
.dashboard-menu {
  width: 20rem;
  /* min-height: 100vh;
  height: auto; */
  background-color: #4746e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 5rem;
  padding: 1rem;
  position: relative;
}
.overlay {
  display: none;
}
.top-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}

.logo {
  width: 44px;
  height: 44px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.menu-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.7rem;
  padding: 0.5rem;
  /* background-color: aqua; */
}

.menu-icon {
  width: fit-content;
  height: auto;
}

.menu-icon i {
  width: 100%;
  height: 100%;
  color: #dad9d9;
  font-size: 1.2rem;
}

.menu-text {
  width: fit-content;
  height: auto;
}

.menu-text p {
  color: #dad9d9;
  font-weight: 600;
  font-size: 1rem;
}

.your-teams,
.team-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.your-teams {
  row-gap: 1rem;
}
.team-content a,
.menu-list a,
.bottom-menu {
  padding: 0.8rem;
}
.team-title,
.logo {
  margin-left: 0.8rem;
}

.team-title {
  width: fit-content;
  height: auto;
}

.team-title p {
  color: #dad9d9;
  font-weight: 600;
  font-size: 0.8rem;
}

.team-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.7rem;
  padding: 0.4rem;
  /* background-color: aqua; */
}

.team-icon {
  width: fit-content;
  height: 100%;
  background-color: #5d5dfd;
  border: 1px solid #c0bfbf;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.team-icon p {
  color: #f1f1f1;
  font-size: 0.7rem;
  font-weight: 600;
}

.team-text {
  width: fit-content;
  height: auto;
  color: #dad9d9;
  font-size: 1rem;
  font-weight: 600;
}

.bottom-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.7rem;
}
.bottom-menu:hover,
.team-items:hover,
.menu-items:hover {
  background-color: #3e3ec9;
  color: #fff;
  border-radius: 0.5rem;
}

.settings-icon {
  width: fit-content;
  height: auto;
}

.settings-icon i {
  font-size: 1.3rem;
  color: #dad9d9;
}

.settings-text {
  width: fit-content;
  height: auto;
}

.settings-text p {
  color: #dad9d9;
  font-weight: 600;
  font-size: 1rem;
}

.dashboard-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
}

.top-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem 2.5rem;
}

.left-details {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.9rem;
}

.search-icon {
  width: fit-content;
  height: auto;
}

.search-icon i {
  color: #919191;
  font-size: 1.2rem;
}

.search-text {
  width: fit-content;
  height: auto;
}
.left-details input {
  border: none;
  outline: none;
}

.search-text::placeholder {
  color: #919191;
  font-size: 1rem;
}

.right-details {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1.2rem;
}

.divider {
  width: 1px;
  height: 28px;
  background: #e0e0e0;
  margin: 0 1rem;
}

.bell-icon {
  width: fit-content;
  height: auto;
}

.bell-icon i {
  color: #919191;
  font-size: 1.3rem;
  cursor: pointer;
}

.profile-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.9rem;
}

.profile-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.profile-pic {
  width: 36px;
  height: 36px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.profile-name {
  width: fit-content;
  height: auto;
}
.profile-name p {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 1rem;
}

.down-icon {
  width: fit-content;
  height: auto;
  position: relative;
}
.down-icon i {
  color: #919191;
  font-size: 0.9rem;
  cursor: pointer;
}
.mini-menu {
  display: none;
  position: absolute;
  top: 2rem;
  right: clamp(1rem, 2.3vw, 2.1rem);
  background-color: #fff;
  flex-direction: column;
  width: 10rem;
  padding: 0.5rem 0;
  border: 1px solid #f1f1f1;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.mini-menu.display {
  display: flex;
}
.mini-menu a {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  color: #1e1e1e;
}
.mini-menu a:hover {
  background-color: #faf6f6;
}

.bottom-details {
  width: 100%;
  /* Make this section take all available vertical space left */
  /* flex: 1 1 0%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; /* Stretch children to fill height */
  padding: 3rem 2.5rem;
}

.bottom-container {
  width: 100%;
  height: 100vh;
  /* Make it fill the parent */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 1px dashed #bebebe;
  border-radius: 0.5rem;
  column-gap: 1.2rem;
  background: repeating-linear-gradient(
    135deg,
    #c3dff7 0 0.5px,
    transparent 1px 8px
  );
}
.overlay-wrapper.display {
  display: flex;
}
.hamburger-menu {
  display: none;
  height: 28px;
  color: #919191;
  padding-right: 1rem;
  border-right: 1px solid #e0e0e0;
}
.hamburger-menu svg {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .dashboard-menu {
    z-index: 3;
    /* position: absolute; */
    /* margin-right: 3rem; */
  }
  .overlay-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .overlay {
    display: block;
    padding: 1rem 1rem;
    height: auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    left: 20rem;
    min-width: 3.5rem;
    flex: 1;
  }
  .overlay svg {
    color: #f1f1f1;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .dashboard-details {
    z-index: 1;
  }
  .down-icon,
  .profile-name,
  .divider {
    display: none;
  }
  .bell-icon {
    margin-right: 0.5rem;
  }
  .top-details {
    padding: 1rem;
  }
  .hamburger-menu {
    display: block;
  }
  .bottom-details {
    padding: 3rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  .bottom-details {
    padding: 3rem 1rem;
  }
}
